<!DOCTYPE html>
<html
  lang="en"
  style="
    background: rgb(163, 190, 168);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  "
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact DT</title>
  </head>
  <body>
    <div
      style="
        text-align: center;
        font-size: 1.4rem;
        margin: 20px 0 0 0;
        background: none;
      "
    >
      <h1>
        <u>Contact David Turner</u>
      </h1>
    </div>

    <div style="display: flex; justify-content: center">
      <div
        style="
          margin-top: 15px;
          border: 5px solid rgb(147, 255, 172);
          border-radius: 10px;
          width: 100%;
        "
      >
        <div style="margin: 7px 15px 7px 15px">
          <h2
            style="text-align: center; margin: 0.8rem 0 0 0; background: none"
          >
            Follow the links for more information
          </h2>

          <ul
            style="
              display: flex;
              justify-content: space-around;
              margin-top: 18px;
              list-style-type: none;
              font-size: 1.1rem;
            "
          >
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="about">About Me</a>
            </li>
            <li>
              <a href="projects">Software Development Projects</a>
            </li>
            <li>
              <a href="resume">Resume</a>
            </li>
            <li>
              <a href="weather">Weather Page</a>
            </li>
            <li>
              <a href="redirect">Subscribe</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      style="
        text-align: center;
        margin-left: 10px;
        margin-right: 15px;
        margin-top: 20px;
      "
    >
      <div>
        <h1>Social Media</h1>
        <div style="margin-bottom: 20px">
          <a
            href="https://www.linkedin.com/in/david-turner-24a3863b"
            target="_blank"
            >LinkedIn</a
          >
        </div>
        <div>
          <a href="https://github.com/DeToxFox" target="_blank"> GitHub </a>
        </div>
      </div>
    </div>
  </body>
</html>
