<!DOCTYPE html>
<html
  lang="en"
  style="
    background: rgb(163, 190, 168);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  "
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DT's Resume</title>
  </head>
  <body>
    <h1>Please select this link to download a copy David Turner's resume</h1>
    <div
      style="
        text-align: center;
        font-size: 1.4rem;
        margin: 20px 0 0 0;
        background: none;
      "
    ></div>

    <div style="display: flex; justify-content: center">
      <div
        style="
          margin-top: 15px;
          border: 5px solid rgb(147, 255, 172);
          border-radius: 10px;
          width: 1000px;
        "
      >
        <div style="margin: 7px 15px 7px 15px">
          <ul
            style="
              display: flex;
              justify-content: space-around;
              margin-top: 18px;
              list-style-type: none;
              font-size: 1.1rem;
            "
          >
            <li><a href="/">Home</a></li>

            <li>
              <a href="about">About Me</a>
            </li>
            <li>
              <a href="contactMe">Contact</a>
            </li>
            <li>
              <a href="projects">Software Development Projects</a>
            </li>
            <li>
              <a href="weather">Weather Page</a>
            </li>
            <li>
              <a href="redirect">Subscribe</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div style="margin-top: 3rem">
      <button style="width: 10rem; height: 3.5rem">
        <a
          href="https://drive.google.com/file/d/1LYQZPy-6x7H5Jkz9byipFoOxbT77uq_-/view?usp=sharing"
          target="_blank"
          >VIEW MY RESUME</a
        >
      </button>
    </div>
  </body>
</html>
