<!DOCTYPE html>
<html lang="en" style="
background: rgb(163, 190, 168);
text-align: center;
font-family: 'Courier New', Courier, monospace;
">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subscribe Page</title>
  </head>
  <body>
    <div
      style="
        text-align: center;
        font-size: 1.4rem;
        margin: 20px 0 0 0;
        background: none;
      "
      >
      <h1 style="font-size: 2rem">
        <u>
          This is if you would like to view and subscribe to David's favorite
          YouTube pages</u
        >
      </h1>
    </div>

    <div style="display: flex; justify-content: center">
      <div
        style="
          margin-top: 15px;
          border: 5px solid rgb(147, 255, 172);
          border-radius: 10px;
          width: 1100px;
        "
      >
        <div style="margin: 7px 15px 7px 15px">
          <ul
            style="
              display: flex;
              justify-content: space-around;
              margin-top: 18px;
              list-style-type: none;
              font-size: 1.1rem;
            "
          >
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="about">About Me</a>
            </li>
            <li>
              <a href="contactMe">Contact</a>
            </li>
            <li>
              <a href="projects">Software Development Projects</a>
            </li>
            <li>
              <a href="resume">Resume</a>
            </li>
            <li>
              <a href="weather">Weather Page</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
   
    <div style="display: flex; justify-content: center">
      <div
        style="
          margin-top: 15px;
          border: 5px solid rgb(147, 255, 172);
          border-radius: 10px;
          width: 1100px;
        "
      >
      <div style="margin: 7px 15px 7px 15px">
        <ul
          style="
            display: flex;
            justify-content: space-around;
            margin-top: 18px;
            list-style-type: none;
            font-size: 1.1rem;
          "
        >
          <li>
            <a href="https://youtu.be/a2yRPa8z9JA" target="_blank">Songs</a>
          </li>
          <li>
            <a href="https://youtu.be/H0k0TQfZGSc" target="_blank">Study Techniques</a>
          </li>
          
        </ul></div>
  </body>
</html>
